* {
  font-family: 'Montserrat', sans-serif;  
  
}

body {
    /* position: relative; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(100, 40%, 25%);
    color: hsl(100, 20%, 95%);
    height: 100vh;
    width: 100vw;
    margin: 0;
    
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(100, 20%, 45%);
  border-radius: 20px;
  width: 70%;
  height: 70%;
  position: fixed;
}

#introScreen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button, #submitBtn {
  border: 0px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: hsl(0, 70%, 50%);
  margin: 10px 0px;
  font-weight: 900;
  color: white;
  transition: 0.5s;
}

button:hover, #submitBtn:hover {
  background-color: hsl(0, 70%, 20%);
}

button:disabled {
  background-color: hsl(0, 30%, 20%);
}

button:active {
  background-color: hsl(0, 70%, 50%);
}

#welcomeScreen {
  align-items: center;
  flex-direction: column;
  display: none;
}

form {
  text-align: center;
}

form input {
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

#difficulty {
  width: 200px;
}

label {
  color: hsl(100, 40%, 25%);
}

#swipe {
  width: 60px;
}

.anim {
  animation: swipeCard 3s;
}

#swipeConfirm {
  visibility: hidden;
}

@keyframes swipeCard {
  25% {
    scale: 3;
  }
  50% {
    transform: rotate(-90deg)  translateX(150px) translateY(175px);
    scale: 3;
  }
  75% {
    transform: rotate(-90deg) translateX(-85px) translateY(175px);
    scale: 3;
  }
}

#gameScreen {
  display: none;
  grid-template-areas:
    "playerDetails dealerHand"
    "playerUi playerHand" ;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 10px;
  border-radius: 20px;
}

.playerDetails {
  grid-area: playerDetails;
  text-align: center;
}

.playerDetails h2 {
  margin: 0 2rem;
}

.dealerHand {
  grid-area: dealerHand;
}

.playerUi {
  grid-area: playerUi;
}

.playerHand {
  grid-area: playerHand;
}

.table {
 background-color: hsl(100, 20%, 45%);
 border-radius: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.dealerHand {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dealerHand h3{
  position: relative;
  bottom: 2rem;
 /* align-self: flex-start; */
}

.dealerHand div, .playerHand div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem 0.5rem;
  justify-content: center;
  align-items: center;
}

.playerHand {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.playerHand h3{
  position: relative;
  bottom: 2rem;
  /* align-self: flex-start; */
}

.visualCard {
  display: inline-block;
  border: 8px double hsl(100, 20%, 75%);
  height: 12rem;
  width: 8rem;
  font-size: 5rem;

}

/*
For Mobile Devices – 320px — 480px
iPads and Tablets – 481px — 768px
Laptops and small screen – 769px — 1024px
Large screens and Desktops – 1025px — 1200px
TV and Extra Large Screens – 1201px and more
*/

@media screen and (max-width: 1300px) { /* 1200 */
  .container {
    width: 90%;
    height: 80%;
  }
  .playerHand h3, .dealerHand h3{
    bottom: 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .body {
    display: block;
  }
  .container {
    width: 90%;
    height: 95%;
  }
  #gameScreen {
    grid-template-areas:
    "playerDetails playerUi "
    "playerHand dealerHand" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}

@media screen and (max-width: 768px) {
  
  button {
   height: 75px;
   margin: 1rem;
   text-align: center;
  }
  #gameScreen {
    grid-template-areas: 
    "playerDetails playerUi"
    "playerHand playerHand"
    "dealerHand dealerHand";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .dealerHand div, .playerHand div {
    justify-content: space-around;
  }

  .playerDetails {
   padding: 10%;
  }

  .container {
    text-align: center;
    position: relative;
  }
}


@media screen and (max-width: 480px) {
  #playerDetails {
  }
  .container {
    width: 90%;
  }
}
  




